/*** Основные стили ***/
body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    /* or 24px */
}

h1, .h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

h2, .h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
}

h3, .h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
}

h4, .h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
}

.cursor-pointer {
    cursor: pointer;
}

.btn-primary {
    background: #DDE3E9;
    color: #000000;
    border: 1px solid #DDE3E9;

}
.btn-primary:hover {
    background: #DDE3E9;
    color: #000000;
    border: 1px solid #DDE3E9;
    opacity: .7;
}

.overflowy-hidden {
    overflow-y: hidden;
}

.color-white {
    color: #FFFFFF;
}

/*** Анимированный background ***/
.site-background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.site-background-left {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.site-background-right.start {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #01B8ED;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-name: back-right;
}

@keyframes back-right {
    0%{
        opacity: 0;
        transform: translateY(0) translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.site-background-right {
    animation-iteration-count: 1;
    animation-direction: alternate;
    background-color: #2E3E43;
}

.site-background-right[data-animation="main-content-start"]{
    background-color: #2E3E43;
}

.site-background-right[data-animation="main-content-start-back"]{
    background-color: #01B8ED;
}

.site-background-right[data-animation="main-content-second"]{
    background-color: #01B8ED;
}

.site-background-right[data-animation="main-content-object"]{
    background-color: #FFFFFF;
}

.site-background-right[data-animation="main-content-footer"]{
    background-color: #2E3E43;
}

.imgList1, .imgList2, .imgList3 {
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 1s;
    opacity: 0;
    position: relative;
    z-index: 101;
}

@keyframes main-content-start {
    0%{
        background-color: #01B8ED;
    }
    100%{
        background-color: #2E3E43;
    }
}

@keyframes main-content-start-back {
    0%{
        background-color: #2E3E43;
    }
    100%{
        background-color: #01B8ED;
    }
}

@keyframes main-content-second {
    0%{
        background-color: #2E3E43;
    }
    100%{
        background-color: #01B8ED;
    }
}

@keyframes main-content-second-top {
    0%{
        background-color: #FFFFFF;
    }
    100%{
        background-color: #01B8ED;
    }
}

@keyframes main-content-object {
    0%{
        background-color: #01B8ED;
    }
    100%{
        background-color: #FFFFFF;
    }
}

@keyframes main-content-object-top {
    0%{
        background-color: #2E3E43;
    }
    100%{
        background-color: #FFFFFF;
    }
}

@keyframes main-content-footer {
    0%{
        background-color: #FFFFFF;
    }
    100%{
        background-color: #2E3E43;
    }
}

@keyframes imgList1 {
    0%{
        opacity: 0;
        transform: translateY(150px) translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes imgList2 {
    0%{
        opacity: 0;
        transform: translateY(150px) translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes imgList3 {
    0%{
        opacity: 0;
        transform: translateY(150px) translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.main-content {
    padding-top: 150px;
    padding-bottom: 150px;
}

#content {
    margin-top: 150px;
}

#uslugi {
    margin-bottom: 150px;
    margin-top: 150px;
}

.uslugi-item .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
}

.uslugi-item span {
    color: #7A7A7A;
}

.uslugi-modal {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E9F4FF;
    border-radius: 3px;
    top: 0;
    left: 0;
    padding: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    z-index: 101;
    /* or 36px */
}

.uslugi-modal-wrapper {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.close-uslugi-modal {
    background: none;
    border: none;
    top: 20px;
    right: 20px;
    z-index: 102;
}

.uslugi-modal-wrapper.show {
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-name: uslugi-modal-show;
}

.uslugi-modal-wrapper.hide {
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-name: uslugi-modal-hide;
}

@keyframes uslugi-modal-show {
    0%{
        opacity: 0;
        transform: translateY(0) translateX(150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes uslugi-modal-hide{
    0%{
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateY(0) translateX(150px);
    }
}

.uslugi-modal::-webkit-scrollbar { width: 0; }

.projects-sorting li {
    float: left;
    color: #7A7A7A;
}

.projects-sorting li span.active {
    float: left;
    color: #000000;
}

.project_item_img {
    min-width: 100%;
}

.project_item_row_header {
    align-items: flex-start;
    justify-content: space-between;
}

.project_item_row_header .title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.project_link {
    color: #0096FF;
}

.project_cat {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #7A7A7A;
}

.project_desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.project_more {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #7A7A7A;
}

.project_more:visited {
    color: #7A7A7A;
}

.project_item_row_footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contacts {
    margin-top: 60px;
    padding: 300px 0;
}

.form_header {
    color: #AFAFAF;
}

.contacts-left a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
}

.header {
    width: 100%;
    z-index: 100;
}

.block-menu {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ffffff;
}

.menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #7A7A7A;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    color: #7A7A7A;
}

.menu ul li a:hover {
    color: #7A7A7A;
    text-decoration: none;
}

.menu ul li a.active{
    color: #000000;
}

.top_button {
    top: 45px;
    right: 80px;
}

.top_button a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding: 10px 15px;
}

.main-logo {
    top: 45px;
    left: 80px;
}

#contacts input[type="text"] {
    width: 100%;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #515F64;
    font-size: 14px;
    padding: 10px;
}

#contacts input[type="submit"] {
    width: 100%;
    background: #01B8ED;
    border-radius: 3px;
    border: 1px solid #01B8ED;
    padding: 17px;
    color: #FFFFFF;
}

#contacts input[type="submit"]:hover {
    opacity: 0.7;
}

#contacts select {
    width: 100%;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #515F64;
    padding: 10px;
    color: #757575;
}

#contacts textarea {
    width: 100%;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #515F64;
    padding: 10px;
    color: #757575;
    height: 100px;
}

.single-project-offer {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.single-project-footer-link a {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0096FF;
}

.nex-post a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7A7A7A;
}

.nex-post a:hover {
    text-decoration: none;
    opacity: .8;
}

.project-template-default .header {
    background: #FFFFFF;
}

.project-template-default footer {
    min-height: 200px;
}